/* CSS */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.luz {
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
button#btnPare {
    background-color: red;
    color: white;
}
button#btnAtenção {
    background-color: yellow;
    color: black;
}
button#btnSiga {
    background-color: green;
    color: white;
}